* {
    padding: 0;
    margin: 0;
}

nav {
    display: flex;
    flex-direction row;
    justify-content: end;
}

nav ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
}

nav ul li {
    padding: 5px;
}