body {
    margin: 0;
    padding: 0;
}

.navList {
display: flex;
list-style-type: none;
flex-direction: row;
}

.sessionErrorMessage {
    color: red;
    font-weight: bold;
    background: #FFC1C3;

}