* {
    margin: 0;
    padding: 0;
}


#requestTable {
    border: 1px solid black;
}

nav ul {
    display: flex;
    list-style-type: none;
    flex-direction: row;
}

nav ul li {
    padding: 5px;
}


